.wrap{
    width:100%;
}
.w1200{
    width:1200px;
    margin:0 auto;
}

.left{
    width:400px;
    background: red;
    height:30px;
    display: inline-block;
}

.middle{
    width:400px;
    background: blue;
    height:30px;
    display: inline-block;
}

.right{
    width:380px;
    background: green;
    height:30px;
    float: right;
    display: inline-block;
}